################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/UpdateMe.App/v14
/UpdateMe.App/obj/Debug
/UpdateMe.App/bin/Debug
/UpdateMe.App/.vs/UpdateMe.App/v14
/UpdateMe.App/bin/Release
/UpdateMe.App/obj/Release
/UpdateMe.Updater/bin/Release
/UpdateMe.Updater/obj/Release
/UpdateMe.Updater/UpdateMe.Updater.csproj.user
